body {
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background: #2F2E41;

  min-height: 100vh;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  display: flex;
  list-style: none;
  
  margin: 0;
  padding: 0;
  gap: 50px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
  font-weight: 700;
  opacity: 1;
}

h1,
ul {
  font-family: 'JetBrains Mono', monospace;
}

section {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

h1 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;

  font-weight: 700;
  margin-bottom: 60px;
}

h1 span {
  color: #00BFA6;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;

  margin: 40px 0;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 35px 0;
  gap: 30px;
  bottom: 0;

  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;

  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
}

.line {
  width: 568px;
  height: 0;

  margin: auto;

  border: 1px solid #00BFA6;
}

#padlock {
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 20px;
}
